* ul,h1,h2,h3,h4,h5,h6,a,p,em,span,div,li,input,form,i,img{
	border:0;
	padding:0;
	margin:0;
}
body{
	border:0;
	padding:0;
	margin:0;
	font-family:Arial;
	font-size:16px;
	background-color: #f5f5f5;
}
ul{
	list-style-type:none;
}
a{
	text-decoration:none;
	color:#424242;
}
a:hover{
	color:#f40;
}

/* header */

.header{
	width:100%;
	height:50px;
	background-color: #ff5a5f;
	position:fixed;
	top:0px;
	left:0px;
	z-index:999;
}
.header-list1 img{
	width:25px;
}
.header-list3 img{
	width:70%;
}
.header-list1{
	float:left;
	line-height:50px;
	padding-left:10px;
	width:10%;
}
.header-list2{
	float:left;	
	line-height:50px;
	width:80%;
	padding-left:5px;
}
.insert{
	width:95%;
	height:30px;
	opacity: 0.8;
	padding-left:5px;
	font-size:14px;
}
.header-list3{
	float:right;
	line-height:50px;
	width: 10%;	
}
.header-another{
	width:100%;
	height:50px;
}

/* 图片切换 */

.banner1{
	width:100%;
	overflow:hidden;
}
.banner1 img {
	width:100%;
	height:auto;
}

.am-slides{
	position: relative;
}

.nav{
	width:100%;
	overflow:hidden;
	background-color: white;
	margin-top:10px;
	border-bottom: 1px solid #C6C6C6;
}
.nav-list{
	width:25%;
	overflow:hidden;
	float:left;
	text-align:center;
	padding:10px 0px;
}
.nav-list a{
	width:100%;
	height:100%;
	display:block;
}
.nav-list p{
	padding-top:5px;
	font-size:14px;
}
.nav-list img{
	width:40%;
}


/*banner2*/


.banner2-text{
	width:100%;
	height:50px;
	line-height:50px;
	padding-left:10px;
	color: #424242;
	font-size:14px;
	border-top:1px solid #c6c6c6;
	margin-top:10px;
	background-color:white;
}
.banner2-text img{
	width:10%;
}
.banner2-img {
	width:100%;
	overflow:hidden;
}
.banner2-img img{
	width:100%;
	height:auto;
}

/* 大牌热卖 */


.index-img{
	width:100%;
	overflow: hidden;
	background-color: white;
}
.hot{
	width:100%;
	overflow: hidden;
	background-color: white;
	color: #f40;
	font-size: 18px;
	margin:14px auto;
	text-align: center;
}
.hot-list img{
	width:100%;

}
.hot-list{
	width:100%;
	overflow: hidden;

}
.hot-list-img{
	width:33.3%;
	overflow: hidden;
	float:left;
}
.hot-list-img p{
	height:50px;
	font-size:14px;
	color: #626262;
	background-color: #f2f2f2;
	margin-top:10px;
	line-height: 50px;
	text-align: center;
}
.hot-list-img a{
	width:100%;
	height:100%;
}


/* 新品必购 */


.new-product{
	width:100%;
	overflow: hidden;
	background-color:white;
}
.new-buy{
	width:100%;
	overflow: hidden;
	background-color: white;
	color: #f40;
	font-size: 18px;
	margin:14px auto;
	text-align: center;
}
.new-list{
	width:100%;
	overflow: hidden;

}
.new-list-img{
	width:25%;
	overflow: hidden;
	float:left;
}
.new-list-img a{
	width:100%;
}
.new-list-img img{
	width:100%;
	height: auto;
}


/*新品上架*/

.new-add{
	width:100%;
	background-color:white;
	overflow: hidden;
}
.new-putaway{
	width:100%;
	overflow: hidden;
	background-color: white;
	color: #f40;
	font-size: 18px;
	margin:14px auto;
	text-align: center;
}
.new-putaway-list{
	width:100%;
	overflow: hidden;
}
.new-putaway-list-img{
	width:49%;
	overflow: hidden;
	float:left;
}
.new-putaway-list a{
	width:100%;
}
.new-putaway-list img{
	width:100%;
	height: auto;
}
.blurb{
	width:100%;
	height:90px;
	background-color: #f1f1f1;
	margin:7px auto;
	padding: 5px;
}
.blurb p{
	width:100%;
	height:50px;
	line-height: 25px;
	color: #6e6e6e;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size:14px;
}
.blurb span{
	width:100%;
	height:30px;
	color: #f40;
}
.pad-l{
	margin-left:2%;
}


/*footer*/

.footer-another{
	width:100%;
	height:63px;	
}
.footer{
	width:100%;
	height:60px;
	line-height:30px;
	background-color:white;
	position:fixed;
	left:0px;
	bottom:0px;
}
.footer-list{
	width:20%;
	height:100%;
	float:left;
	text-align:center;
	padding-top:3px;
}
.footer-list a{
	width:100%;
	height:100%;	
}
.footer-list img{
	width:28%;
}
.footer-list p{
	font-size:12px;
	color: #6c6c6c;
}








/*---------  ShoppingCar -----------*/


.sc-header img{
	float:left;
	padding-left:10px;
	padding-top:10px;
	width:7%;
}
.sc-header{
	width:100%;
	height:50px;
	line-height:50px;
	text-align:center;
	background-color:#f5f5f5;
	position:fixed;
	top:0px;
	left:0px;
	z-index:999;
	border-bottom:1px solid #D0D0D0;
}
.sc-header-another{
	width:100%;
	height:50px;
}
.sc-buy{
	height:20px;
	height:40px;
	background-color:white;
	font-size:16px;	
	padding-left:5px;
	padding-top:15px;
}
.sc-button{
	width:20px;
	height:20px;
	
}


.sc-radio{
	width:20px;
	height:20px;	
}
.shopping{
	width:100%;
	overflow:hidden;
	padding-left:0px;	
}
.shopping::after{
	content:"";
	display:block;
	clear:both;	
}
.shopping-list{
	width:100%;
	height:120px;
	background-color:#f5f5f5;	
	margin:5px 0px;
}
.sc-button{
	width:10%;
	float:left;
	line-height:120px;
	padding-left:12px;
}
.sc-list{
	width:30%;
	line-height:120px;
	float:left;
	
}
.sc-list img{
	width:100%;
	padding-right:10px;
}
.sc-text{
	width:60%;
	float:left;
	font-size:18px;
	color:#707070;
}
.text1{
	font-size:14px;
	padding-left:10px;
	padding-top:5px;
	margin-bottom:0px;
}
.text2{
	font-size:10px;
	color:#D2D2D2;
	margin:0px 0px;
	margin-top:5px;
	margin-bottom:15px;
	padding-left:10px;
}
.text3{
	font-size:18px;
	color:#f40;
	padding-left:10px;
	
}
.sc-money{
 	float:right;
}
.sc-text img {
	width:8%;
	margin:0px 10px;
	float:right;
	margin-top:5px;
}


/*--  footer  --*/

.sc-footer1{
	width:100%;
	height:50px;
	background-color:#f5f5f5;
	position:fixed;
	left:0;
	bottom:0;
	z-index:999;
}

.sc-footer2{
	width:65%;
	height:50px;
	float:left;
	background-color:#f5f5f5;
	
}
.sc-footer2 span{
	color:#f40;	
}
.zongji{
	margin:0;
	padding-left:5px;
}
.yunfei{
	margin:0;
	font-size:10px;
	color:#A0A0A0;
	padding-left:5px;
}
.sc-pay{
	width:35%;
	height:50px;
	color:white;
	font-size:18px;
	background-image: url("../images/pic26.png");
}


/*  logging */



.log-header{
	width:100%;
	height:250px;
	background-image: url("../images/pic40.png");
	position: relative;
}

.log-setting{
	width:30px;
	position: absolute;
	left:20px;
	top:20px;
}
.log-message{
	width:30px;
	position: absolute;
	right:20px;
	top:20px;
}
.log-headphoto{
	width:120px;
	position: relative;
	top:10%;
	left:50%;
	margin-left:-60px;
	border-radius: 50%;
	border: 3px solid #f5f5f5;
}
.logging{
	color: white;
	font-size: 22px;
	position: absolute;
	top:167px;
	left:50%;
	margin-left:-44px;
}
.supervip{
	font-size: 16px;
	color:white;
	position: absolute;
	top:206px;
	left:50%;
	margin-left:-73px;
}
.supervip span{
	padding-left:10px;
}
.log-nav{
	width:100%;
	overflow: hidden;
	background-color: white;
	border-bottom: 1px solid #dfe0e2;
}
.log-nav-list{
	float:left;
	width:33.3%;
	text-align: center;
	padding:15px 0px;
}
.log-nav-list a{
	display: block;
}
.log-nav-list img{
	width:50px;
}
.log-nav-list p{
	color: #5e5e5e;
	padding-top:10px;
}

.log-menu{
	width:100%;
	overflow: hidden;
	background-color: white;
	margin:10px auto;

}
.log-menu-list{
	border-top: #dfe0e2 1px solid;
}
.log-menu-list a{
	display: block;
}
.log-menu-list-img1{
	width:50px;
	margin:10px 10px;
}
.log-menu-list span{
	font-size:18px;
	color:#5e5e5e;
	padding-left:10px;
}
.log-menu-list-img2{
	width:12px;
	float:right;
	margin-top:25px;
	margin-right:17px;
}
.log-menu-list em{
	font-style: normal;
	float:right;
	padding-top:22px;
	padding-right:13px;
	color:#5e5e5e;
}

.log-menu2{
	background-color:white;
}

.log-footer{
	width:100%;
	height:60px;
	background-color:white;
	position: fixed;
	left:0px;
	bottom:0px;
}
.log-footer-nav{
	width:20%;
	height:60px;
	float:left;
	text-align: center;
	line-height: 30px;
}
.log-footer-nav img{
	width:25px;
	margin-top:5px;
}
.log-footer-another{
	width:100%;
	height:60px;
}
.log-footer-nav p{
	color: #5e5e5e;
	padding-top:5px;
	font-size:14px;
}







