*{
   margin:0;
    paddding:0;
    font-family: Arial;
}
ul{
    list-style-type: none;
}
a{
    color: black;
    text-decoration: none;
}
a:hover {
    color: #5bc0de;
}





/*demo*/


.content1 {
    width: 10px;
    height: 10px;
    background-color: greenyellow;
}
.content {
    width:10px;
    height:10px;
    background-color:red;
    padding:10px;
}
.box {
    width:30px;
    height:30px;
    background-color:greenyellow;
    padding:10px;
}
.warapper {
    width:50px;
    height:50px;
    background: red;
    padding: 10px;
}




/*homework*/




/*五环*/

.homework1 {
    width:100px;
    height:100px;
    border: 10px solid orange;
    border-radius: 50%;
    position: fixed;
    left:50%;
    top:50%;
    margin-top:-50px;
    margin-left:-50px;
}
.homework2 {
    width:100px;
    height:100px;
    border: 10px solid #ff3139;
    border-radius: 50%;
    position: fixed;
    left:45%;
    top:50%;
    margin-top:-50px;
    margin-left:-50px;
}
.homework3 {
    width:100px;
    height:100px;
    border: 10px solid #76a4ff;
    border-radius: 50%;
    position: fixed;
    left:55%;
    top:50%;
    margin-top:-50px;
    margin-left:-50px;
}
.homework4 {
    width:100px;
    height:100px;
    border: 10px solid #4cfaff;
    border-radius: 50%;
    position: fixed;
    left:47%;
    top:55%;
    margin-top:-50px;
    margin-left:-50px;
}
.homework5 {
    width:100px;
    height:100px;
    border: 10px solid #66ff81;
    border-radius: 50%;
    position: fixed;
    left:53%;
    top:55%;
    margin-top:-50px;
    margin-left:-50px;
}

.right1 {
    position: absolute;
    right:0px;
    width:100px;
    height:100px;
    background-color: green;
    opacity: 0.5;
}
.left1 {
    height:100px;
    background-color: #ff4400;
    margin-right:100px;
}

.wrapper1{
    width:100px;
    height:100px;
    background-color: black;
    margin-top:100px;
    margin-left:100px;
    overflow: hidden;
}
.content1{
    width:50px;
    height:50px;
    background-color: purple;
    margin-top:50px;
    margin-left:50px;
 }

.box1{
    background-color: red;
    margin-right:20px;
}
.box2{
    background-color: #4cfaff;
    margin-left:20px;
}
.wrapper2{
    overflow: hidden;
}
.demo1{
    background-color: purple;
    margin-bottom:200px;
}
.demo2{
    background-color: deeppink;
    margin-top:100px;
}

.box3{
    width:100px;
    height:100px;
    background-color: black;
    float:left;
    opacity: 0.5;
}
.demo3{
    width:150px;
    height:150px;
    background-color: #f40;
}

.demo4::after{
    content: "";
    clear: both;
    display: block;
}
.demo4{
    border: 1px solid black;
}
.content11{
    width:100px;
    height:100px;
    background-color: greenyellow;
    text-align: center;
    line-height: 100px;
    float:left;
}
.ppp{
    clear: both;
}

/*淘宝导航栏*/

.nav{
    padding:0px;
}
.nav .list-item{
    float:left;
    margin:0px 10px;
    font-size: 20px;
    height:30px;
    line-height: 30px;
}
.nav .list-item a{
    color: #f40;
    padding:0px 5px;
    font-weight: bold;
    height:30px;
    display: inline-block;
    border-radius: 20px;
}
.nav .list-item a:hover{
    color: #fff;
    background-color: #ff4400;
}
.nav::after{
    content: "";
    display: block;
    clear: both;
}   /*清除浮动  素质三连*/

.bg{
    width:200px;
    height:200px;
    color: #ff4400;
    border: 1px solid black;
    display: inline-block;
    background-size: 300px 200px;
    text-indent: 200px;
    white-space: nowrap;
    overflow: hidden;
    background-image: url("../images/slide-image01.jpg");
}
.bg-2{
    width:100px;
    height: 0px;
    padding-top:100px;
    background-image: url("../images/slide-image02.jpg");
    background-size: 100px 100px;
    display: inline-block;
    border:1px solid black;
    overflow: hidden;
}

.ddq{
    display: inline-block;
    font-size:50px;
    width:100px;
    height:100px;
    background-color:#f40;
}




/*生活*/

.life-message{
    width:100%;
    overflow: hidden;
    background-color: white;
    border-top:1px solid #a6a6a6;
    border-bottom:1px solid #a6a6a6;
    margin:10px auto;
}
.message-title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding:10px 3px;
}
.message-banner{
    width:100%;
    height:auto;
    padding:8px;
}
.message-content{
    padding:6px;
}
.like{
    width:75px;
    margin:10px 20px;
}
.share{
    width:75px;
    margin-left:40%;
}
.message-img{
    width:100%;
    overflow: hidden;
}
.message-img li{
    width:14.2%;
    overflow: hidden;
    float:left;
}
.message a{
    width:100%;
    overflow: hidden;
}
.message-img img{
    width:100%;
    weight:auto;
}






